#root {
  width: 100vw;
  margin: 0 auto;
  padding: 100px;
  text-align: center;
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

.optionButton:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}
